[Desktop Entry]
Name=RetroArch
Comment=RetroArch touch-compatible port
Exec=retroarch
Icon=media/MirGLESDemo.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
